:root {
  --fond: #f5f5f5;
  --fonce: #676b6f;
  --moyen: #a3a3a3;
  --claire: #dbd6d0;
  --autre: #cfc5ba;
  --texte_claire: #dbd6d0;
  --texte_fonce: #676b6f;

}
body {
    display: grid;
    grid-template-columns: 0 auto 0;
}
body > *{
    grid-column: 2;
    background-color: var(--fond) ;
}
@media screen and (min-width: 1920px) {
    body {
        display: grid;
        grid-template-columns: auto 1920px auto;
    }
  }
header {
    text-align: right;
}
.filter_blanc {
    filter: brightness(100);
}

.carousel {
  margin: auto;
  width: 67.7%;
}


/* #region btn31 */
.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: var(--claire);
  -webkit-appearance: button;
  background-color: var(--fonce);
  background-image: none;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 10px;
  padding: 0;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}

.btn-31 {
  border-width: 1px;
  padding: 10px 10px;
  position: relative;
  text-transform: uppercase;
}

.btn-31:before {
  --progress: 100%;
  background: var(--claire);
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}
/* #endregion btn31 */

p {
  line-height: 1.6;
}

ul {
  list-style-type:circle;
  padding: 0;
}

ul li {
  list-style-type:circle;
}

.spacement-texte {
  margin-bottom: 5px;
  padding-top: 50px;
}

.bloc_text{
  width: 400px;
  height: 150px;
}
.texte_index {
  margin-left: 30px;
}
h1 {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
}
.texte_div {
  margin-left: 20px;

}
.texte_div h2 span {
  text-decoration: underline;
}

.texte_div a {
  color: #aaaaaa;
  text-decoration: none;
}

.texte_div h2::before {
  content: "- ";
  margin-right: 5px;

}

nav {
  background-color: #6c6f75;
}
.nav2 {
  max-width: 90%;
  margin-left: 5%;
  background: linear-gradient(to top, #6c6f75 80%, #25272b 100%);
}
/* #region btn32 */


.btn-32,
.btn-32 *,
.btn-32 :after,
.btn-32 :before,
.btn-32:after,
.btn-32:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-32 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--fonce);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 80%;
  font-weight: 900;
  line-height: 1.2;
  margin: 6px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-32:disabled {
  cursor: default;
}

.btn-32:-moz-focusring {
  outline: auto;
}

.btn-32 svg {
  display: block;
  vertical-align: middle;
}

.btn-32 [hidden] {
  display: none;
}

.btn-32 {
  border-width: 1px;
  padding: 8px 8px;
  position: relative;
  text-transform: uppercase;
}

.btn-32:before {
  --progress: 100%;
  background: var(--claire);
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-32:hover:before {
  --progress: 0%;
}

.btn-32 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-32 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-32:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}


/* #endregion btn32*/

.postes_ligne_gris {
  background-color: #a3a3a3;
  clip-path: polygon(0 0,75% 0,85% 60%,78% 100%,0 100%);
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
}
.postes_grid_c1_c2 {
  display: grid;
  grid-template-columns: auto auto 20%;
  gap: 10px;
}
.postes_grid_c1_c2 ul li {
  list-style-type:"- ";
  font-weight: 600;
  font-size: 1.4em;
}
.postes_grid_c1_c2 img{
  margin-top: 10px;
  margin-left: 20px;
  height: 200px;
}
._ligne_postes_card_x3 {
  margin-top: 50px;
  display: grid;
  grid: auto / auto auto auto;
  justify-items : center ;

}
.card-body {
  background-color: #a3a3a3;
  font-weight: 600;
  height: 100%;
}
.card img,.card {
  border-radius: 0px;
  background-color: #dbd6d0!important;
}
.card {
  clip-path: polygon(0 0,100% 0,100% 100%,80% 95%,0 100%);
}
._ligne_postes_card_x2 {
  margin-top: 50px;
  display: grid;
  grid: auto / auto auto;
  justify-items : center ;

}
.cgauche {
  clip-path: polygon(0 0,100% 0,95% 33%,94% 66%,100% 100%,0 100%)
}
.cdroit {
  clip-path: polygon(1% 33%,6% 0,100% 0,100% 100%,6% 100%,0% 66%)
}
.Languette_total {
  background-color: var(--autre);
  clip-path: polygon(0 0,60% 0,55% 50%,60% 100%,0 100%);
  text-align: right;
  padding-right: 45%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}